git+https://github.com/huggingface/transformers.git
pytorch-lightning>=2.4.0
datasets
sentencepiece>=0.1.97
nltk>=3.9
orjson>=3.6.8
lightning-bolts
tensorboard
tensorboardX
evaluate
sentence-transformers
